# Gradle build folder
/build/
.gradle/

# IntelliJ IDEA files
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/
# Log files
*.log

# Target folder for compiled classes and reports
/target/

# Gradle wrapper binaries
gradlew
gradlew.bat

# Serenity reports
/target/site/
.serenity/

# Dependency cache
.gradle/
build/

# Eclipse specific files
.project
.classpath
.csettings
.settings/

# Mac specific files
.DS_Store

# Windows specific files
Thumbs.db
